* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-left: 10%;
  margin-right: 10%;
}
#header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
}

nav {
  font-weight: 400;
  position: fixed;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}
#header h1 {
  text-align: center;
  margin: 10px;
  font-size: 70px;
}

#header img {
  width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
}
